body{
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.03);
  overflow-y: scroll;
}
.sidenav{
  background: linear-gradient(135deg,#6F23FF 0,#627cf5 100%);
  height: 100vh;
}
.logo{
  width: 60px;
  height: 60px;
  margin: 0 auto 50px auto;
}
.logo img{
  width: 100%;
  height: 100%;
}
.sidenav ul{
  list-style: none;
}
.sidenav ul li ul{
  margin: 0;
  padding: 0;
}
.sidenav li, li a{
  color: #fff;
  text-decoration: none;
}
.no-pd{
  padding: 0;
}
.no-mg{
  margin: 0;
}
.f-s-1{
  font-size: 0.75em;
}
.f-s-2{
  font-size: 0.95em;
}
.f-s-3{
  font-size: 1.25em;
}
.sidenav p{
  color: #ffc700;
  font-size: 0.65em;
  margin-top: 0;
}
.sidenav li i{
  margin-right: 10px;
}
.sidenav li{
  margin-bottom: 10px;
  font-size: 0.90em;
}
.sidenav ul li ul{
  margin-bottom: 30px;
}
.sidenav ul li ul li a:not(i){
  color: #fff;
  color: rgba(255, 255, 255, 0.9);
}
.top-nav{
  box-shadow: 0 2px 10px 10px #000;
  box-shadow: 0 2px 10px 10px rgba(0, 0, 0, 0.05);
  margin-top: 0;
  border: 0;
  padding-left: 10px;
  width: 100%;
  height: 80px;
  box-sizing: content-box;
}
.bg-primary{
  background-color: blue;
}
.faint-1{
  color: #000;
  color: rgba(0, 0, 0, 0.7);
}
.bold{
  font-weight: bold;
}
.ml-1{
  margin-left: 2em;
}
.mr-1{
  margin-right: 0.5em;
}

.progress{
  padding-top: 60px;

}
.top-nav{
  background-color: white;
}
.top-nav p{
  height: 80px;
  line-height: 80px;
}
.top-nav p span{
  float: right;
  margin-right: 60px;
  color: white;
}
.top-nav p span i{
  background: linear-gradient(135deg,#6F23FF 0,#627cf5 100%);
  border-radius: 100%;
  padding: 4px;
}
.btn{
  padding: 8px;
  text-decoration: none;
  border-radius: 4px;
}
.btn-primary{
  background: linear-gradient(135deg,#6F23FF 0,#627cf5 100%);
  color: #fff;
  box-shadow: 0 2px 4px 5px #000;
  box-shadow: 0 2px 4px 5px rgba(0, 0, 0, 0.12);
}
 .btn-effect{
  color: black;
  color: rgba(0, 0, 0, 0.75);
}
.btn-effect:hover{
  background: linear-gradient(135deg,#6F23FF 0,#627cf5 100%);
  color: #fff;
  box-shadow: 0 2px 4px 5px #000;
  box-shadow: 0 2px 4px 5px rgba(0, 0, 0, 0.12);
}
.progress-content{
  box-shadow: 2px 2px 5px 4px #000;
  box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}
.progress-content-header{
  border-bottom: 1px solid #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 50px;
}
.progress-content-header p{
  height: 50px;
  line-height: 50px;
}
.pl-20{
  padding-left: 20px;
}
.progress-content-body a{
  text-decoration: none;
  color: #0000ff;
  color: rgba(0, 0, 255, 0.7);
}
.progress-content-body a:hover{
  text-decoration: underline;
}
.progress-content-body p{
  font-size: 0.8em;
  font-weight: bold;
}
/*
.btn-effect:hover::after{
  display: inline-block;
  transition: background-color 1s ease-in-out;
}
.btn-effect::after{
  display: none;                      TODO
  content: 'Coding Challenges';
  color: #fff;
  padding: 8px;
  background-color: linear-gradient(135deg,#6F23FF 0,#627cf5 100%);
  border-radius: 4px;
} */
.progress-content-body p{
  margin: 0;
  padding: 0;
}
.progress-content{
  background-color: #fff;
  margin-top: 35px;
  border-radius: 6px;
}
.progress-content-body > div:nth-of-type(n+2):hover{
  background-color: rgb(23, 162, 184);
  background-color: rgba(23, 162, 184, 0.1);
}
.progress-content-body > div:nth-of-type(n+2):hover button{
  background-color: #0000ff;
  background-color: rgba(0, 0, 255, 0.8);
}
.progress-content-body > div{
  height: 45px;
}
.progress-content-body > div div:last-of-type button{
  padding: 8px 12px;
  background-color: #0000ff;
  background-color: rgba(0, 0, 255, 0.7);
  color: white;
  border-radius: 4px;
  border: 0;
}
.progress-content-body > div > div{
  height: 45px;
  line-height: 45px;
}
.progress-content-body > div:nth-of-type(2n){
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.03);
}
.cl-w{
  color: #fff;
}
.btn-txt{
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 0.73em;
}
.btn-txt-primary{
  background-color: #784c8a;
}
.btn-txt-success{
  background-color: #28a745;
}
.btn-txt-info{
  background-color: #007bff;
}
.text-center{
  text-align: center;
}
.solo:hover div:nth-of-type(2) .btn-txt{
  background-color: #fff;
}
